$ocean: rgb(5,50,110); // Ocean
$forest: rgb(18,90,64); // Forest
$heath: rgb(98,41,75); // Heath
$mountain: rgb(39,57,67); // Mountain
$grass: rgb(173,208,149); // Grass
$pebble: rgb(227,225,216); // Pebble
$field: rgb(255,136,85); // Field
$sand: rgb(255,230,130); // Sand
$cyan-100: rgb(0,152,235); // Cyan 100%
$cyan-80: rgb(51,173,239); // Cyan 80%
$cyan-60: rgb(102,193,243); // Cyan 60%
$cyan-40: rgb(153,214,247); // Cyan 40%
$cyan-20: rgb(204,234,251); // Cyan 20%
$cyan-10: rgb(229,244,253); // Cyan 10%
$ocean-100: rgb(5,50,110); // Ocean 100%
$ocean-80: rgb(55,91,139); // Ocean 80%
$ocean-60: rgb(105,132,168); // Ocean 60%
$ocean-40: rgb(155,173,197); // Ocean 40%
$ocean-20: rgb(205,214,226); // Ocean 20%
$ocean-10: rgb(230,234,240); // Ocean 10%
$forest-100: rgb(18,90,64); // Forest 100%
$forest-80: rgb(65,123,102); // Forest 80%
$forest-60: rgb(113,156,140); // Forest 60%
$forest-40: rgb(160,189,179); // Forest 40%
$forest-20: rgb(208,222,217); // Forest 20%
$forest-10: rgb(231,238,236); // Forest 10%
$heath-100: rgb(98,41,75); // Heath 100%
$heath-80: rgb(129,84,111); // Heath 80%
$heath-60: rgb(161,127,147); // Heath 60%
$heath-40: rgb(192,169,183); // Heath 40%
$heath-20: rgb(224,212,219); // Heath 20%
$heath-10: rgb(239,233,237); // Heath 10%
$mountain-100: rgb(39,57,67); // Mountain 100%
$mountain-80: rgb(82,97,105); // Mountain 80%
$mountain-60: rgb(125,136,142); // Mountain 60%
$mountain-40: rgb(169,176,180); // Mountain 40%
$mountain-20: rgb(212,215,217); // Mountain 20%
$mountain-10: rgb(233,235,236); // Mountain 10%
$grass-100: rgb(173,208,149); // Grass 100%
$grass-80: rgb(189,217,170); // Grass 80%
$grass-60: rgb(206,227,191); // Grass 60%
$grass-40: rgb(222,236,213); // Grass 40%
$grass-20: rgb(239,246,234); // Grass 20%
$grass-10: rgb(246,250,244); // Grass 10%
$pebble-100: rgb(227,225,216); // Pebble 100%
$pebble-80: rgb(233,231,224); // Pebble 80%
$pebble-60: rgb(238,237,232); // Pebble 60%
$pebble-40: rgb(244,243,239); // Pebble 40%
$pebble-20: rgb(249,249,247); // Pebble 20%
$pebble-10: rgb(252,252,251); // Pebble 10%
$cyan: rgb(0,152,235); // Cyan
$white: rgb(255,255,255); // White