@ocean: rgb(5,50,110);
@forest: rgb(18,90,64);
@heath: rgb(98,41,75);
@mountain: rgb(39,57,67);
@grass: rgb(173,208,149);
@pebble: rgb(227,225,216);
@field: rgb(255,136,85);
@sand: rgb(255,230,130);
@cyan-100: rgb(0,152,235);
@cyan-80: rgb(51,173,239);
@cyan-60: rgb(102,193,243);
@cyan-40: rgb(153,214,247);
@cyan-20: rgb(204,234,251);
@cyan-10: rgb(229,244,253);
@ocean-100: rgb(5,50,110);
@ocean-80: rgb(55,91,139);
@ocean-60: rgb(105,132,168);
@ocean-40: rgb(155,173,197);
@ocean-20: rgb(205,214,226);
@ocean-10: rgb(230,234,240);
@forest-100: rgb(18,90,64);
@forest-80: rgb(65,123,102);
@forest-60: rgb(113,156,140);
@forest-40: rgb(160,189,179);
@forest-20: rgb(208,222,217);
@forest-10: rgb(231,238,236);
@heath-100: rgb(98,41,75);
@heath-80: rgb(129,84,111);
@heath-60: rgb(161,127,147);
@heath-40: rgb(192,169,183);
@heath-20: rgb(224,212,219);
@heath-10: rgb(239,233,237);
@mountain-100: rgb(39,57,67);
@mountain-80: rgb(82,97,105);
@mountain-60: rgb(125,136,142);
@mountain-40: rgb(169,176,180);
@mountain-20: rgb(212,215,217);
@mountain-10: rgb(233,235,236);
@grass-100: rgb(173,208,149);
@grass-80: rgb(189,217,170);
@grass-60: rgb(206,227,191);
@grass-40: rgb(222,236,213);
@grass-20: rgb(239,246,234);
@grass-10: rgb(246,250,244);
@pebble-100: rgb(227,225,216);
@pebble-80: rgb(233,231,224);
@pebble-60: rgb(238,237,232);
@pebble-40: rgb(244,243,239);
@pebble-20: rgb(249,249,247);
@pebble-10: rgb(252,252,251);
@cyan: rgb(0,152,235);
@white: rgb(255,255,255);